pnpm store prune && pnpm install
registry=https://registry.npmmirror.com/

# Electron 二进制下载镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}

# electron-builder 下载 dmg/pkg 等工具链的镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
