registry=https://registry.npmmirror.com/

# node-gyp 下载 node 头文件的镜像
disturl=https://npmmirror.com/mirrors/node/

# Electron 二进制下载镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}

# electron-builder 下载 dmg/pkg 等工具链的镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# better-sqlite3 预编译二进制镜像（prebuild-install 读取）
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3
